# Bỏ qua môi trường ảo (đã có pip install trong Docker rồi)
venv/
.venv/
env/

# Bỏ qua các file rác Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua dữ liệu Git
.git
.gitignore

# Bỏ qua dữ liệu Postgres (nếu bạn để trong project)
postgres_data/

# Bỏ qua các file cấu hình IDE
.vscode/
.idea/